# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
db.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor-specific files
.vscode/
.idea/
*.sublime-workspace

# Testing and coverage reports
.coverage
htmlcov/
*.cover
*.py,cover

# Pipenv / Poetry
Pipfile
Pipfile.lock
poetry.lock

# Docker
.dockerignore

# Secrets and environment variables
.env
*.env
*.pem

# Misc
__pypackages__/